/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 5px 20px 5px 20px;
}

/* base styles */
body {
  background-color: rgb(158, 189, 219);
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.button {
  background: none;
  border-radius: 20px;
  border: 5px solid rgb(4, 36, 1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  color: rgb(4, 36, 1);
  display: inline-block;
  font-weight: bolder;
  padding: 6px 12px;
  text-transform: uppercase;
}

.button:hover {
  background: rgb(4, 36, 1);
  color: rgb(158, 189, 219);
}

.navBtn {
  background: none;
  border-radius: 20px;
  border: 4px solid rgb(4, 36, 1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  color: rgb(4, 36, 1);
  display: inline-block;
  font-weight: bolder;
  margin: 10px 20px 10px 20px;
  padding: 6px 12px;
  text-transform: uppercase;
}

.navBtn:hover {
  background: rgb(4, 36, 1);
  color: rgb(158, 189, 219);
}

a:hover {
  color: rgb(158, 189, 219);
  font-weight: bolder;
}

input,
textarea {
  background: rgba (247, 244, 235, 0.05);
  border-radius: 20px;
  border: 2px solid rgb(4, 36, 1);
  color: rgb(4, 36, 1);
  padding: 10px 16px;
}

/* fonts */
h1,
h2,
h3,
h4,
p,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: rgb(4, 36, 1);
  font-weight: normal;
}

p,
a,
li {
  color: rgb(4, 36, 1);
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 20px;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: bolder;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}

.popup button {
  font-size: 1.2em;
}

/* mobile styles */
h3,
h4 {
  text-align: center;
}

nav {
  text-align: center;
}

li {
  display: inline-block;
}

#welcome {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#welcomeHeader {
  margin: 20px;
  text-align: left;
}

.leading {
  margin: 20px;
}

#profileImg {
  border: 10px solid rgb(4, 36, 1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  height: auto;
  margin: 20px;
  padding: 20px;
  width: 240px;
}

footer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  justify-content: space-evenly;
  padding: 15px;
  width: 100vw;
}

.copyright {
  width: 180px;
}

#footerImg {
  padding: 25px;
  width: 30px;
}

p {
  margin: 30px 20px 30px 20px;
}

.skillCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skillCard {
  margin: 20px;
  text-align: center;
  width: 100px;
}

.skillImg {
  width: 100px;
}

.projects {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectContainer {
  margin: 10px;
}

.projects h4 {
  border: 3px solid rgb(4, 36, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  padding: 4px;
}

.projects img {
  border: 3px solid rgb(4, 36, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 300px;
}

.popup {
  background: rgb(158, 189, 219);
  border: 10px solid rgb(4, 36, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  left: 50%;
  padding: 10px 5px 10px 5px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 1;
}

.popup h4 {
  background-color: rgb(4, 36, 1);
  border-radius: 20px;
  border: 3px solid rgb(4, 36, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: rgb(158, 189, 219);
  font-weight: bolder;
  margin-top: 0;
  padding: 10px;
}

.popup p {
  color: rgb(4, 36, 1);
  font-weight: bold;
}

.popup button {
  background-color: rgb(4, 36, 1);
  border-radius: 20px;
  border: 3px solid rgb(4, 36, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: rgb(158, 189, 219);
  cursor: pointer;
  font-weight: bolder;
  margin-left: 10px;
  padding: 10px;
  width: 175px;
}

#contact {
  text-align: center;
}

form {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: center;
}

input {
  margin: 10px 20px 10px 20px;
  width: 275px;
}

textarea {
  height: 100px;
  margin: 10px 20px 20px 20px;
  width: 275px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  body {
    font-size: 18px;
  }

  h3 {
    font-size: 30px;
  }

  .navBtn {
    border-radius: 35px;
    border: 6px solid rgb(4, 36, 1);
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
  }

  #welcomeText {
    padding: 20px;
    width: 100vw;
  }

  #profileImg {
    height: auto;
    width: 400px;
  }

  #quote {
    padding-top: 200px;
  }

  .button {
    border-radius: 35px;
    border: 6px solid rgb(4, 36, 1);
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
  }

  .copyright {
    font-size: 20px;
    width: 400px;
  }

  #footerImg {
    width: 45px;
  }

  .projects {
    justify-content: space-evenly;
  }

  .projects h4 {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .popup {
    padding: 20px;
    width: 500px;
  }

  .popup h4 {
    border-radius: 35px;
    font-size: 30px;
  }

  .popup p {
    font-size: 25px;
  }

  .popup button {
    border-radius: 35px;
    font-size: 30px;
  }

  form {
    flex-direction: column;
    height: 700px;
  }

  input {
    width: 351px;
  }

  textarea {
    width: 351px;
  }
}

/* large tablet and laptops styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 24px;
  }

  form {
    height: 400px;
  }

  .projects img {
    height: auto;
    width: 500px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 30px;
  }

  form {
    height: 400px;
  }
}
